@import '../../styles/variables';
@import '../../styles/fonts';

.marquee {
	background: transparent;
	border-top: 1px solid $main-toxic;
	border-bottom: 1px solid $main-toxic;
	padding: 10px 0;
	overflow: hidden;
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100px;
		z-index: 2;
		pointer-events: none;
	}

	&::before {
		left: 0;
		background: linear-gradient(90deg, $black 0%, transparent 100%);
	}

	&::after {
		right: 0;
		background: linear-gradient(270deg, $black 0%, transparent 100%);
	}

	&__track {
		display: flex;
		align-items: center;
		gap: 10px;
		animation: marquee 20s linear infinite;
		width: max-content;

		@media (min-width: $breakpoint-md) {
			gap: 20px;
			animation-duration: 25s;
		}

		@media (min-width: $breakpoint-lg) {
			gap: 30px;
			animation-duration: 30s;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		white-space: nowrap;
		gap: 10px;
		flex-shrink: 0;

		@media (min-width: $breakpoint-md) {
			gap: 20px;
		}

		@media (min-width: $breakpoint-lg) {
			gap: 30px;
		}
	}

	&__text {
		@include h3;

		position: relative;
		color: $main-toxic;
	}

	&__logo {
		height: 20px;
		width: auto;
		transition: all 0.3s ease;

		@media (min-width: $breakpoint-md) {
			height: 30px;
		}

		@media (min-width: $breakpoint-lg) {
			height: 40px;
		}
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
